<!doctype html>
<html>
    <head>
        <title>Reviews</title>
    </head>
    <body>
        <div>
            <h1>
                All Reviews
                <button id="new_review_button" type="button" onclick=""> + Add New Review</button>
            </h1>
        </div>
        <div>
            <table>
                <tr>
                    <th>Title</th>
                    <th>Rating</th>
                    <th>Edit</th>
                    <th>Delete</th>
                </tr>
                {% for review in reviews %} 
                    <tr>
                    <td>{{review.title}}</td>
                    <td>
                        {% for i in range(review.rating) %}
                            &starf;
                        {% endfor %}
                    </td>
                    </tr>
                {% endfor %} 
            </table>
        </div>
    </body>
</html>