{% extends 'base.html' %}

    {% block content %}
        {% if review == None %}
            <h2>New Review</h2>
        {% else %}
            <h2>{{review.title}}</h2>
        {% endif %}

        <form method="post">
            {% if review == None %}
                <label for="movie_title">Movie name:</label><br>
                <input type="text" id="movie_title" name="movie_title" required><br>
            {% endif %}
            <label for="rating">Rating:</label><br>
            <select id = "rating" name="rating">
                <option value="1" {% if review.rating == 1 %}selected{% endif %}>&starf;</option>
                <option value="2" {% if review.rating == 2 %}selected{% endif %}>&starf;&starf;</option>
                <option value="3" {% if review.rating == 3 %}selected{% endif %}>&starf;&starf;&starf;</option>
                <option value="4" {% if review.rating == 4 %}selected{% endif %}>&starf;&starf;&starf;&starf;</option>
                <option value="5" {% if review.rating == 5 %}selected{% endif %}>&starf;&starf;&starf;&starf;&starf;</option>
            </select><br>
            <label for="review_text">Review:</label><br>
            <textarea id="review_text" name="review_text" rows="4" cols="50">{{review.text}}</textarea><br>

            {% if review == None %}
                <input type="submit" value="Create Review">
            {% else %}
                <input type="submit" value="Edit Review">
            {% endif %}
        </form>
        <button onclick="document.location='/'">Back</button>
    {% endblock %}